Source: pyfll-installer
Section: admin
Priority: extra
Maintainer: Horst Tritremmel <hjt@sidux.com>
Uploaders: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 7), pyqt4-dev-tools
Standards-Version: 3.8.0

Package: pyfll-installer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python, python-qt4
Description: pyfll-installer test
 this is only a developer test
